{% load static %}
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
       
        <link rel="stylesheet" type="text/css" href="{% static 'p1.css' %}">
        <title>ECommerce Tutorial</title>
        <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" />

       

    </head>
    {% csrf_token%}
    <body>
       
       <section id="header">
       <a href="#"><img src="{% static 'img/logo.png' %}"   class="logo" alt=""></a>
       <div>
           <ul id="navbar">
            <li><a href="{% url 'login' %}">Login</a></li>
            <li><a href="{% url 'signup' %}">Sign Up</a></li>
               <li><a href="{% url 'shop' %}">Shop</a></li>
               <li><a href="{% url 'blog' %}">Blog</a></li>
               <li><a href="{% url 'about' %}">About</a></li>
               <li><a href="{% url 'contacts' %}">Contacts</a></li>
               <li id="lg-bag"><a href="{% url 'cart' %}"><i class="far fa-shopping-bag"></i></a></li>
               <a href="#" id="close"><i class="far fa-times"></i></a>
               
           </ul>
       </div>
       <div id="mobile">
        
        <a href="cart.html"><i class="far fa-shopping-bag"></i></a>
        <i id="bar" class="fas fa-outdent"></i>
       </div>
    </section> 
    <section id="page-header" class="about-header">
        
        <h2>#lets_talk</h2>
        
        <p>LEAVE A MESSAGE, We love to here from you!</p>
        
    </section>

    <section id="contact-details" class="section-p1">
        <div class="details">
            <span>GET IN TOUCH</span>
            <h2>visit oune of our agency locations or contact us today.</h2>
            <h3>Head Office</h3>
            <div>
                <li>
                    <i class="fal fa-map"></i>
                    <p>56 Glassford Street Glasgow G1 1UL New York</p>
                </li>
                <li>
                    <i class="fal fa-envelope"></i>
                    <p>56 Glassford Street Glasgow G1 1UL New York</p>
                </li>
                <li>
                    <i class="fal fa-phone-alt"></i>
                    <p>56 Glassford Street Glasgow G1 1UL New York</p>
                </li>
                <li>
                    <i class="fal fa-clock"></i>
                    <p>56 Glassford Street Glasgow G1 1UL New York</p>
                </li>
            </div>
        </div>


        <div class="map">
            <iframe src="{% static 'https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d10759.220111785284!2d-1.2572396286105716!3d51.75331512001331!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4876c6a9ef8c485b%3A0xd2ff1883a001afed!2sUniversity%20of%20Oxford!5e0!3m2!1sen!2sin!4v1664810733421!5m2!1sen!2sin' %}" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>

    </section>
    <section id="form-details">
       <form action="">
        <span>Leave  A Message</span>
        <h2>We Love to Here From You</h2>
        <input type="text" placeholder="your name">
        <input type="text" placeholder="Email">
        <input type="text" placeholder="subject">
        <textarea name="" id="" cols="30" rows="10" placeholder="your message"></textarea>
        <button class="normal">Submit</button>
        
       </form>

       <div class="people">
        <div>
            <img src="{% static 'img/people/1.png' %}">
            <p><span>John Doe</span>Senior Marketing Manager<br> phone: +91 79933724321 <br>
            Email: uday@gmail.com</p> 
        </div>
        <div>
            <img src="{% static 'img/people/3.png' %}">
            <p><span>kalyani</span>Senior Marketing Manager<br> phone: +91 9618910911 <br>
            Email: kalyani@gmail.com</p> 
        </div>
        <div>
            <img src="{% static 'img/people/2.png' %}">
            <p><span>Eswar</span>Senior Marketing professor<br> phone: +91 9494332431 <br>
            Email: eswar@gmail.com</p> 
        </div>
       </div>
    </section>
 
<section id="newsletter" class="section-p1  section-m1">
    <div class="newstext">
     <h4>Sign Up For Newsletters</h4>
     <p>Get E-mail updates about our latest shop and <span>special offers</span>.</p>
    </div>
 
    <div class="form">
     <input type="text" placeholder="Your Email Address">
     <button class="normal">Sign Up</button>
    </div>
 </section>




<footer class="section-p1">
    <div class="col">
        <img class="logo" src="{% static 'img/logo.png' %}" alt="">
        <h4>Contact</h4>
        <p><strong>Address</strong>: 1-114,kothavalasa,vzm,535183</p>
        <p><strong>Phone</strong>: +91 7993372431</p>
        <p><strong>Hours</strong>:24 hours days: sun-mon</p>
    </div>
    <div class="follow">
        <h4>Follow us</h4>
        <div class="icon">
        <i class="fab fa-facebook-f"></i>
        <i class="fab fa-twitter"></i>
        <i class="fab fa-instagram"></i>
        <i class="fab fa-pinterest"></i>
        <i class="fab fa-youtube"></i>
        </div>
    </div>


    <div class="col">
        <h4>About</h4>
        <a href='#'>About Us</a>
        <a href='#'>Delivery Information</a>
        <a href='#'>privacy policy</a>
        <a href='#'>Terms and Conditions</a> 
        <a href='#'>Contact Us</a>       

    </div>


    <div class="col">
        <h4>Account</h4>
        <a href='#'>Sign in</a>
        <a href='#'>View Cart</a>
        <a href='#'>My Wishlist</a>
        <a href='#'>Track My Order</a> 
        <a href='#'>Help</a>       

    </div>


    <div class="col install">
        <h4>Install App</h4>
        <p>From playstore or Appstore</p>
        <div class="row">
           <img src="{% static 'img/pay/app.jpg' %}" alt="">
           <img src="{% static 'img/pay/play.jpg' %}" alt="">

        </div>
        <p>secure payment getway</p>
        <img src="{% static 'img/pay/pay.png' %}" alt="">
    </div>

    <div class="copyright">
        <p>2021, Tech2 etc - HTML CSS ECommerce Template</p>
    </div>
</footer>
    <script src="p1.js"></script>
    </body>
</html>